alembic
appnope
asgiref
autopep8
backcall
boto3
botocore
cachelib
certifi
charset-normalizer
click
cs50
cycler
debugpy
decorator
docopt
fonttools
grammarbot
greenlet
gunicorn
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
jmespath
joblib
jupyter-client
jupyter-core
kiwisolver
Mako
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
numpy
opencv-python
packaging
pandas
parso
passlib
path
pexpect
pickleshare
Pillow
pipreqs
prompt-toolkit
ptyprocess
pycodestyle
pyfiglet
Pygments
PyMySQL
pyparsing
python-dateutil
pytz
pyzmq
requests
rich
s3transfer
scikit-learn
scipy
seaborn
selenium
six
sklearn
SQLAlchemy
sqlparse
termcolor
threadpoolctl
toml
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
whitenoise
yarg
zipp
